<div id="notification_dropdown" class="dropdown dropleft ml-auto mr-1">
  <% if notifications.where(read: false).count > 0 %>
    <button class="btn btn-sm btn-default btn-success dropdown-toggle" type="button" data-toggle="dropdown" id='dropdownMenu1' aria-haspopup="true" aria-expanded="true">
    <span class="oi oi-bell" title="通知" aria-hidden="true"></span>
    <span class="badge badge-notify"><%= notifications.where(read: false).count %></span>
    </button>
    <div class="dropdown-menu list-group-flush py-0" aria-labelledby="dropdownMenu1" id="mstdn_notification">
      <li class="dropdown-header text-center font-weight-bold"><%= link_to 'すべて既読にする', '/notifications/update_all', remote: true %></li>
      <%= render notifications.where(read: false).order('created_at DESC').first(3) %>
    </div>
    <script>
    $(document).on("turbolinks:load", function() {
      const newUnreadCount = <%= notifications.where(read: false).count %>;
      window.addEventListener('load', () => {
        setBadge();
        console.log('setBadge');
      });
      function setBadge() {
        if (navigator.setAppBadge) {
          navigator.setAppBadge(newUnreadCount);
        } else if (navigator.setExperimentalAppBadge) {
          navigator.setExperimentalAppBadge(newUnreadCount);
        } else if (window.ExperimentalBadge) {
          window.ExperimentalBadge.set(newUnreadCount);
        }
      }
    });
    </script>
  <% else %>
    <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" id='dropdownMenu1' aria-haspopup="true" aria-expanded="true">
    <span class="oi oi-bell" title="通知" aria-hidden="true"></span>
    </button>
    <div class="dropdown-menu list-group-flush py-0" aria-labelledby="dropdownMenu1" id="mstdn_notification">
    </div>  
    <script>
    $(document).on("turbolinks:load", function() {
      window.addEventListener('load', () => {
        clearBadge();
        console.log('clearBadge');
      });
      function clearBadge() {
        if (navigator.clearAppBadge) {
          navigator.clearAppBadge();
        } else if (navigator.clearExperimentalAppBadge) {
          navigator.clearExperimentalAppBadge();
        } else if (window.ExperimentalBadge) {
          window.ExperimentalBadge.clear();
        }
      }
    });
    </script>
  <% end %>
</div>