<script>
$(".alert").alert('close')
</script>

<% if flash[:error] %>
    <div id="animated-example" class="animated bounceIn notice alert alert-info text-center text-danger my-1 alert-dismissible fade show" role="alert">
    <%= flash[:error] %>
    <button class="close" data-dismiss="alert" aria-label="Close">
    &times;
    </button>
    </div>
<% elsif flash[:notice] %>
    <div id="animated-example" class="animated bounceIn notice alert alert-info text-center my-1 alert-dismissible fade show" role="alert">
    <%= flash[:notice] %>
    <button class="close" data-dismiss="alert" aria-label="Close">
    &times;
    </button>
    </div>
<% end %>