<% unless post.comments.find_by(user_uid: @current_user.uid) %>
<% if post.title == '新規サブクエスト' && post.image.attached? %>
    <div class="card text-white bg-danger tilt">
        <%= image_tag post.image.variant(resize_to_fit: [288,288], autorot: true, saver: { strip: true, quality: 60 }), :class => "card-img-top" %>
        <%= link_to(post_path(post), class: 'card-body stretched-link') do %>
        <% end %>
    </div>
<% end %>
<% end %>