<div class="card">
    <h5 class="card-header"><span class="oi oi-ban text-danger" title="行き止まり" aria-hidden="true"></span> ルートの行き止まり</h5>
    <div class="card-body">
        <h5 class="card-text">ページが見つかりませんでした。</h5>
        <p class="card-text">せっかくだからちょっとひとやすみ、しましょう。</p>
    </div>
</div>