<% unless post.comments.find_by(user_uid: @current_user.uid) %>
    <div class="card text-white bg-danger tilt">
        <% if post.image.attached? %>
            <%= image_tag post.image.variant(resize_to_fit: [288,288], autorot: true, saver: { strip: true, quality: 60 }), :class => "card-img-top" %>
        <% end %>
        <%= link_to post_path(post), class: "card-body bg-danger d-inline-block stretched-link", style: "width: 100%;" do %>
        <h5 class="card-title text-white text-center wf-nicomoji"><span class="oi oi-task" title="サブクエスト" aria-hidden="true"></span> サブクエスト ⚔</h5>
        <p class="card-text font-weight-bold text-white mx-0 p-2" style="opacity: 0.87; word-break: break-all;">
            <%= truncate(post.body, omission: '...', length: 46) %>
        </p>
        <% end %>
    </div>
<% end %>